body,
html,
#__nuxt,
#__layout,
#__layout > div
  height: 100%
  min-height: 100%

body *
  font-family: 'Roboto', sans-serif

.text-brand
  color: #ff112d

.btn,
.card,
.form-control
  border-radius: 0