:root {
  --primary-color: #ff112d;
  --background-color: #fff;
  --background-color-1: #ff112d;
  --background-color-2: #fff;
  --ab-background-color: beige;
  --text-color: #000;
  --inv-text-color: #fff;
  --text-brand: #ff4500;
  --hover-color: #000000;
  --nav-col: rgba(255, 255, 255, 0.8);
  --navbar-toggler-icon-default: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  /* SVG for the white/light lines navbar toggler icon */
  --navbar-toggler-icon-light-lines: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  /* Other CSS variables for dark mode */
}

.dark-mode {
  --primary-color: #ffffff;
  --background-color: #212121;
  --background-color-1: #303030;
  --background-color-2: #303030;
  --ab-background-color: black;
  --hover-color: #c30505;
  --text-color: #fff;
  --inv-text-color: #000;
  --text-brand: #fff;
  --nav-col: rgba(0, 0, 0, 0.8);
  /* CSS variables with dark mode styles */
}

.navbar-light .navbar-toggler-icon {
  background-image: var(--navbar-toggler-icon-default);
}

/*
  When .dark-mode is active, and the navbar is .navbar-light,
  override the toggler icon to use the one with light lines.
*/
.dark-mode .navbar-light .navbar-toggler-icon {
  background-image: var(--navbar-toggler-icon-light-lines);
}

/*
  Optional: Style the border of the toggler button itself in dark mode
  if the default Bootstrap border isn't suitable.
*/
.dark-mode .navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.2); /* Example: a subtle white border */
}
.dark-mode .hover-card-container .user-info .d-inline-block{
  color: white!important;
}

.main-user-info .spec-btns{
  color: white!important;
}

/* Cancels hover effect */
.main-user-info a{
  background-color: inherit; /* Inherit background color from parent element */
  text-decoration: none;
}

.modal-top-actions{
  color: white !important;
}

section {
	background-color: var(--background-color)!important;
}

.navbar-light{
	background-color: var(--nav-col);
}

.navbar-light:hover{
	background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

.info-box-orange{
	color: var(--text-brand)!important;
}

.report a, .report-body, .post a, .post-body{
	color: var(--text-color)!important;
}

.report a.text-brand, .post a.text-brand{
	color: #ff112d!important;
}

.report h6{
	background-color: var(--background-color-1)!important;
}

.report h6 a, .post h6 a{
	color: white!important;
}

a:hover {
  color: var(--hover-color);
}

.footer, .modal-content, .card, .notif-container, .dropdown-menu, .modal-header{
	background-color: var(--background-color)!important;
}

.modal-header .close {
	color: var(--primary-color);
}

/*
.card {
  background-color: var(--background-color);
}*/
/*
.card-header {
  background-color: var(--background-color-1);
}*/

.action-box {
  background-color: var(--background-color-1)!important;
}

.wallet-container .action-box, .font-weight-bold .action-box{
	background-color: var(--ab-background-color)!important;
}

.card-body, .admin-name a {
  color: var(--primary-color)!important;
}

.dropdown-menu a, .dropdown-menu span {
  color: var(--text-color);
}

.table {
  background-color: var(--background-color);
}
/*
.table-header {
  background-color: var(--background-color-1);
  color: var(--inv-text-color);
}

.table-row {
  background-color: var(--background-color)!important;
}

.table-cell {
  color: var(--primary-color);
}



.table-cell:hover, .token-entry {
  background-color: var(--background-color-1)!important;
}*/

.wallet-container .token-entry{
	background-color: var(--background-color-2)!important;
}

.wallet-container .token-entry.head-title{
	background-color: red!important;
	/*color: var(--inv-text-color)!important;*/
}
/*

.card {
  color: var(--primary-color);
  background-color: var(--background-color);
}
*/


.report-title, .post-title{
	color: #fff!important;
}

.increased-rank{
  margin-left: 3px;
  color: yellow;
}

/* animations for landing page */

.fade-blur {
  opacity: 0;
  filter: blur(5px); /* Initial blur */
  transition: filter 1.4s ease, opacity 1.4s ease;
}

.fade-blur.active {
  opacity: 1;
  filter: blur(0); /* Remove blur */
}

.fade-scale {
  opacity: 0;
  transform: scale(0.9); /* Start slightly smaller */
  transition: transform 1.4s ease, opacity 1.4s ease;
}

.fade-scale.active {
  opacity: 1;
  transform: scale(1); /* Scale back to normal size */
}


/*slide-in-left*/
/*
.slide-in-left {
  opacity: 0;
  transform: translateX(-50px); // Start position: 50px left
  transition: transform 1.4s ease, opacity 1.4s ease;
}

.slide-in-left.active {
  transform: translateX(0); // End position: Normal position
  opacity: 1;
}


.slide-in-right {
  opacity: 0;
  transform: translateX(50px); // Start position: 50px right
  transition: transform 1.4s ease, opacity 1.4s ease;
}

.slide-in-right.active {
  transform: translateX(0); // End position: Normal position
  opacity: 1;
}

*/
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1.4s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.bg-gradient {
  background: linear-gradient(90deg, #FF0000, rgba(255, 0, 0, 0.2));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.font-weight-semibold {
  font-weight: 600;
}

.shadowed-view{
  box-shadow: 3px 3px 3px rgb(255 0 0 / 40%)
}
